.content-wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
}
.headerImg {
  height: 100vh;
  object-fit: cover;
}
.image-wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-wrapper-button{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.content-wrapper-button-left{
  font-size: 24px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1; 
  margin: 0 30px;
  padding: 8px 40px;
  cursor: pointer;
  background-color: #063970;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}
.content-wrapper-button-right{
  font-size: 24px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1; 
    margin: 0 30px;
    padding: 8px 40px;
    cursor: pointer;
    background-color: yellow;
    border-radius: 15px;
    color: white;
}
.content-wrapper-welcome{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 40px;
}
.content-wrapper-welcome-text{
  align-self: center;
  font-size: 24px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1;
  margin: 0 10px;
  padding: 8px 40px;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 5px black;
}
.form-wrapper-title{
  align-self: center;
}
.form-wrapper-title-down{
  justify-content: center;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  margin: 2rem 10rem;
  
}
.form-wrapper-child {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form-label{
  margin-bottom: 5px;
}
.form-input {
  padding: 7px 5px;
}
.btn-send {
  font-size: 18px;
  align-self: center;
  cursor: pointer;
  background-color: #063970;
  border-radius: 10px;
  color: white;
  padding: 10px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}