.content-wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
}
.form-wrapper-title{
  align-self: center;
}
.form-wrapper-title-down{
  justify-content: center;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  margin: 2rem 23rem;
}
.form-wrapper-child {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
}
.form-input {
  padding: 9px 5px;
}
.btn-send {
  font-size: 18px;
  align-self: flex-end;
  cursor: pointer;
  background-color: #063970;
  border-radius: 10px;
  color: white;
  padding: 10px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 20px;
}