.content-wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
}
.headerImg {
  height: 100vh;
  object-fit: cover;
  opacity: 85%;
}
.image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-wrapper-button{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.content-wrapper-button-left{
  font-size: 23px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1; 
  margin: 0 30px;
  padding: 8px 40px;
  cursor: pointer;
  background-color: #063970;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}
.content-wrapper-button-right{
  font-size: 24px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1; 
    margin: 0 30px;
    padding: 8px 40px;
    cursor: pointer;
    background-color: yellow;
    border-radius: 15px;
    color: #063970;
}
.content-wrapper-welcome{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.content-wrapper-welcome-text{
  align-self: center;
  font-size: 27px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* Arial, Helvetica, sans-serif; */
  word-spacing: 1;
  margin: 0 0;
  padding: 3px 0;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 5px black;
}
.form-wrapper-title{
  align-self: center;
}
.form-wrapper-title-down{
  justify-content: center;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  margin: 2rem 10rem;
  
}
.form-wrapper-child {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form-label{
  margin-bottom: 5px;
}
.form-input {
  padding: 7px 5px;
}
.btn-send {
  font-size: 18px;
  align-self: center;
  cursor: pointer;
  background-color: #063970;
  border-radius: 10px;
  color: white;
  padding: 10px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.karikaturImg{
  display: flex;
  align-self: center;
  height: 600px;
  width: 600px;
  filter: drop-shadow(3px 3px 3px white);

}

@media only screen and (max-width: 600px) {
  .content-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
  }
  .headerImg {
    height: 50vh;
    width:69vh;
    object-fit: cover;
    opacity: 85%;
  }
  .image-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content-wrapper-button{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }
  .content-wrapper-button-left{
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1; 
    margin: 0 5px;
    padding: 3px 4px;
    cursor: pointer;
    background-color: #0c4c91;
    border-radius: 4px;
    color: white;
    text-decoration: none;
  }
  .content-wrapper-button-right{
    font-size: 24px;
      font-weight: normal;
      font-family: Arial, Helvetica, sans-serif;
      word-spacing: 1; 
      margin: 0 30px;
      padding: 8px 40px;
      cursor: pointer;
      background-color: yellow;
      border-radius: 15px;
      color: #063970;
  }
  .content-wrapper-welcome{
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .content-wrapper-welcome-text{
    align-self: center;
    font-size: 15px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Arial, Helvetica, sans-serif; */
    word-spacing: 1;
    margin-bottom: 0px;
    padding: 3px 0;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    text-shadow: 8px 8px 10px black;
  }
  .form-wrapper-title{
    align-self: center;
  }
  .form-wrapper-title-down{
    justify-content: center;
  }
  
  .form-wrapper{
    display: flex;
    flex-direction: column;
    margin: 2rem 10rem;
    
  }
  .form-wrapper-child {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
  }
  
  .form-label{
    margin-bottom: 5px;
  }
  .form-input {
    padding: 7px 5px;
  }
  .btn-send {
    font-size: 18px;
    align-self: center;
    cursor: pointer;
    background-color: #063970;
    border-radius: 10px;
    color: white;
    padding: 10px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .karikaturImg{
    display: flex;
    margin-top: 40px;
    align-self: center;
    height: 400px;
    width: 400px;
    filter: drop-shadow(3px 3px 3px white);
  
  }
}
@media only screen and (max-width: 456px) {
  .content-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
  }
  .headerImg {
    height: 50vh;
    width:60vh;
    object-fit: cover;
    opacity: 85%;
  }
  .image-wrapper {
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .content-wrapper-button{
    display: flex;
    flex-direction: column;
  }
  .content-wrapper-button-left{
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1; 
    justify-content: center;
    margin-top: 12px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 9px 9px;
    cursor: pointer;
    background-color: #0c4c91;
    border-radius: 4px;
    color: white;
    text-decoration: none;
  }
  .content-wrapper-button-right{
    font-size: 24px;
      font-weight: normal;
      font-family: Arial, Helvetica, sans-serif;
      word-spacing: 1; 
      margin: 0 30px;
      padding: 8px 40px;
      cursor: pointer;
      background-color: yellow;
      border-radius: 15px;
      color: #063970;
  }
  .content-wrapper-welcome{
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .content-wrapper-welcome-text{
    align-self: center;
    font-size: 12px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Arial, Helvetica, sans-serif; */
    word-spacing: 1;
    margin-bottom: 0px;
    margin-left: 90px;
    padding: 3px 0;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    text-shadow: 8px 8px 10px black;
  }
  .form-wrapper-title{
    align-self: center;
  }
  .form-wrapper-title-down{
    justify-content: center;
  }
  
  .form-wrapper{
    display: flex;
    flex-direction: column;
    margin: 2rem 10rem;
    
  }
  .form-wrapper-child {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
  }
  
  .form-label{
    margin-bottom: 5px;
  }
  .form-input {
    padding: 7px 5px;
  }
  .btn-send {
    font-size: 18px;
    align-self: center;
    cursor: pointer;
    background-color: #063970;
    border-radius: 10px;
    color: white;
    padding: 10px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .karikaturImg{
    display: flex;
    margin-top: 40px;
    margin-left: 90px;
    align-self: center;
    height: 400px;
    width: 400px;
    filter: drop-shadow(3px 3px 3px white);
  
  }
}