.header-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    background-color: #063970;
}
.header-wrapper-title{
    display: flex;
    flex-direction: column;
}
.header-text{
    align-self: center;
  font-size: 60px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1;
  margin: 0 20px;
  padding: 0 5px;
  color: white;
  text-shadow: 10px black;
}
.headerImg{
    width: 120px;
    height: 120px;
    margin: 0 0px;
}